<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="css/vendor/font-awesome.min.css">
	<link rel="stylesheet" href="css/vendor/icon.css">
	<link rel="stylesheet" href="css/uploadss.css">
	<link rel="stylesheet" href="css/c.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- favicon -->
	<link rel="icon" href="favicon.ico">
	<title>HOTLancer.com | Dashboard</title>

</head>
<body>

	<!-- SIDE MENU -->
	<div id="dashboard-options-menu" class="side-menu dashboard left closed">
        <!-- SVG PLUS -->
		<svg class="svg-plus">
			<use xlink:href="#svg-plus"></use>
		</svg>
		<!-- /SVG PLUS -->
        
		<!-- SIDE MENU HEADER -->
		<div class="side-menu-header">
			<!-- USER QUICKVIEW -->
			<div class="user-quickview">
				<!-- USER AVATAR -->
				<a href="author-profile.html">
				<div class="outer-ring">
					<div class="inner-ring"></div>
					<figure class="user-avatar">
						<img src="images/avatars/avatar_01.jpg" alt="avatar">
					</figure>
				</div>
				</a>
				<!-- /USER AVATAR -->

				<!-- USER INFORMATION -->
				<p class="user-name">Johnny Fisher</p>
				<p class="user-money">$745.00</p>
				<!-- /USER INFORMATION -->
			</div>
			<!-- /USER QUICKVIEW -->
		</div>
		<!-- /SIDE MENU HEADER -->

		<!-- SIDE MENU TITLE -->
		<p class="side-menu-title">Your Account</p>
		<!-- /SIDE MENU TITLE -->

		<!-- DROPDOWN -->
		<ul class="dropdown dark hover-effect interactive">
			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="dashboard-settings.html">
                    <span class="sl-icon icon-settings"></span>
                    Account Settings
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->

			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="dashboard-notifications.html">
                    <span class="sl-icon icon-star"></span>
                    Notifications
                </a>
                <!-- PIN -->
                <span class="pin soft-edged big primary">49</span>
                <!-- /PIN -->
			</li>
			<!-- /DROPDOWN ITEM -->

			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item interactive">
				<a href="#">
                    <span class="sl-icon icon-envelope"></span>
                    Messages
                    <!-- SVG ARROW -->
					<svg class="svg-arrow">
						<use xlink:href="#svg-arrow"></use>
					</svg>
					<!-- /SVG ARROW -->
				</a>

				<!-- INNER DROPDOWN -->
				<ul class="inner-dropdown">
					<!-- INNER DROPDOWN ITEM -->
					<li class="inner-dropdown-item">
						<a href="dashboard-inbox.html">Your Inbox (36)</a>
						<!-- PIN -->
						<span class="pin soft-edged secondary">2</span>
						<!-- /PIN -->
					</li>
					<!-- /INNER DROPDOWN ITEM -->

					<!-- INNER DROPDOWN ITEM -->
					<li class="inner-dropdown-item">
						<a href="dashboard-inbox-v2.html">Your Inbox (36) V2</a>
					</li>
					<!-- /INNER DROPDOWN ITEM -->

					<!-- INNER DROPDOWN ITEM -->
					<li class="inner-dropdown-item">
						<a href="dashboard-openmessage.html">Open Message</a>
					</li>
					<!-- /INNER DROPDOWN ITEM -->

					<!-- INNER DROPDOWN ITEM -->
					<li class="inner-dropdown-item">
						<a href="dashboard-inbox.html">Starred Message</a>
					</li>
					<!-- /INNER DROPDOWN ITEM -->

					<!-- INNER DROPDOWN ITEM -->
					<li class="inner-dropdown-item">
						<a href="dashboard-inbox.html">Deleted Messages</a>
					</li>
					<!-- /INNER DROPDOWN ITEM -->
				</ul>
				<!-- INNER DROPDOWN -->

                <!-- PIN -->
                <span class="pin soft-edged big secondary">!</span>
                <!-- /PIN -->
			</li>
			<!-- /DROPDOWN ITEM -->

			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="dashboard-purchases.html">
                    <span class="sl-icon icon-tag"></span>
                    Your Purchases
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->

			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item active">
				<a href="dashboard-buycredits.html">
                    <span class="sl-icon icon-credit-card"></span>
                    Buy Credits
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->
		</ul>
		<!-- /DROPDOWN -->

        <!-- SIDE MENU TITLE -->
		<p class="side-menu-title">Info &amp; Statistics</p>
		<!-- /SIDE MENU TITLE -->

		<!-- DROPDOWN -->
		<ul class="dropdown dark hover-effect">
			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="dashboard-statement.html">
                    <span class="sl-icon icon-layers"></span>
                    Sales Statement
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->

			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="dashboard-statistics.html">
                    <span class="sl-icon icon-chart"></span>
                    Statistics
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->
		</ul>
		<!-- /DROPDOWN -->

         <!-- SIDE MENU TITLE -->
		<p class="side-menu-title">Author Tools</p>
		<!-- /SIDE MENU TITLE -->

		<!-- DROPDOWN -->
		<ul class="dropdown dark hover-effect">
			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="dashboard-uploaditem.html">
                    <span class="sl-icon icon-arrow-up-circle"></span>
                    Upload Item
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->

			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="dashboard-manageitems.html">
                    <span class="sl-icon icon-folder-alt"></span>
                    Manage Items
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->

            <!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="dashboard-withdrawals.html">
                    <span class="sl-icon icon-wallet"></span>
                    Withdrawals
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->
		</ul>
		<!-- /DROPDOWN -->

        <a href="#" class="button medium secondary">Logout</a>
	</div>
	<!-- /SIDE MENU -->

    <!-- DASHBOARD BODY -->
    <div class="dashboard-body">
        <!-- DASHBOARD HEADER -->
        <div class="dashboard-header retracted">
            <!-- DB CLOSE BUTTON -->
            <a href="index.html" class="db-close-button">
               <img src="images/dashboard/back-icon.png" alt="back-icon">
            </a>
            <!-- DB CLOSE BUTTON -->

			<!-- DB OPTIONS BUTTON -->
            <div class="db-options-button">
               <img src="images/dashboard/db-list-right.png" alt="db-list-right">
			   <img src="images/dashboard/close-icon.png" alt="close-icon">
            </div>
            <!-- DB OPTIONS BUTTON -->

            <!-- DASHBOARD HEADER ITEM -->
            <div class="dashboard-header-item title">
                <!-- DB SIDE MENU HANDLER -->
                 <div class="db-side-menu-handler">
                    <img src="images/dashboard/db-list-left.png" alt="db-list-left">
                </div>
                <!-- /DB SIDE MENU HANDLER -->
                <h6>Your Dashboard</h6>
            </div>
            <!-- /DASHBOARD HEADER ITEM -->

			<!-- DASHBOARD HEADER ITEM -->
            <div class="dashboard-header-item form">
                <form class="dashboard-search">
                    <input type="text" name="search" id="search_dashboard" placeholder="Search on dashboard...">
                    <input type="image" src="images/dashboard/search-icon.png" alt="search-icon">
                </form>
            </div>
            <!-- /DASHBOARD HEADER ITEM -->

            <!-- DASHBOARD HEADER ITEM -->
            <div class="dashboard-header-item stats">
                <!-- STATS META -->
                <div class="stats-meta">
                    <div class="pie-chart pie-chart1">
                        <!-- SVG PLUS -->
                        <svg class="svg-plus primary">
                            <use xlink:href="#svg-plus"></use>
                        </svg>
                        <!-- /SVG PLUS -->
                    </div>
                    <h6>64.579</h6>
                    <p>New Original Visits</p>
                </div>
                <!-- /STATS META -->
            </div>
            <!-- /DASHBOARD HEADER ITEM -->

            <!-- DASHBOARD HEADER ITEM -->
            <div class="dashboard-header-item stats">
                <!-- STATS META -->
                <div class="stats-meta">
                    <div class="pie-chart pie-chart2">
                        <!-- SVG PLUS -->
                        <svg class="svg-minus tertiary">
                            <use xlink:href="#svg-minus"></use>
                        </svg>
                        <!-- /SVG PLUS -->
                    </div>
                    <h6>20.8</h6>
                    <p>Less Sales Than Last Month</p>
                </div>
                <!-- /STATS META -->
            </div>
            <!-- /DASHBOARD HEADER ITEM -->

            <!-- DASHBOARD HEADER ITEM -->
            <div class="dashboard-header-item stats">
                <!-- STATS META -->
                <div class="stats-meta">
                    <div class="pie-chart pie-chart3">
                        <!-- SVG PLUS -->
                        <svg class="svg-plus primary">
                            <use xlink:href="#svg-plus"></use>
                        </svg>
                        <!-- /SVG PLUS -->
                    </div>
                    <h6>322k</h6>
                    <p>Total Visits This Month</p>
                </div>
                <!-- /STATS META -->
            </div>
            <!-- /DASHBOARD HEADER ITEM -->

			<!-- DASHBOARD HEADER ITEM -->
            <div class="dashboard-header-item back-button">
                <a href="index.html" class="button mid dark-light">Back to Homepage</a>
            </div>
            <!-- /DASHBOARD HEADER ITEM -->
        </div>
        <!-- DASHBOARD HEADER -->

        <!-- DASHBOARD CONTENT -->
        <div class="dashboard-content">
            <!-- /HEADLINE -->
			<div class="worklaft1">
				<a href="#" class="worklaft1">
                    <span class="sl-icon icon-drawer"></span>
                    <p class="worklafttt">Title</p>
                    <span class="sl-icon icon-check"></span>
				</a>
				<a href="#" class="worklaft1">
                    <span class="sl-icon icon-drawer"></span>
                    <p class="worklafttt">Description </p>
                    <span class="sl-icon icon-check"></span>
				</a>
				<a href="#" class="worklaft1">
                    <span class="sl-icon icon-drawer"></span>
                    <p class="worklafttt">Details </p>
                    <span class="sl-icon icon-check"></span>
				</a>
				<a href="#" class="worklaft1">
                    <span class="sl-icon icon-drawer"></span>
                    <p class="worklafttt">Expertise </p>
                    <span class="sl-icon icon-check"></span>
				</a>
				<a href="#" class="worklaft1">
                    <span class="sl-icon icon-drawer"></span>
                    <p class="worklafttt">Visibility </p>
                    <span class="sl-icon icon-check"></span>
				</a>
				<a href="#" class="worklaft1">
                    <span class="sl-icon icon-drawer"></span>
                    <p class="worklafttt">Budget </p>
                    <span class="sl-icon icon-check"></span>
				</a>
				<a href="#" class="worklaft1">
                    <span class="sl-icon icon-drawer"></span>
                    <p class="worklafttt">Review </p>
                    <span class="sl-icon icon-check"></span>
				</a>
            </div>
			<div class="workr81">
                <div class="workttsr">
					<div class="workttse22">
						<h2 class="workbottom">Get Started</h2>
						<span> Step 1 of 7 </span>
					</div>
					<div class="workttse222">
						<b class="workttsw">Enter the name of your job post</b>
						<div class="clearfix"></div>
						<textarea  class="workttsweditor"></textarea>
						<div class="clearfix"></div>
						<b class="workttsw">Here are some good examples:</b>
						<br>
						<ul class="hhbottomg">
							<li class="hhbottom"> Developer needed for creating a responsive WordPress Theme </li>
							<li class="hhbottom"> CAD designer to create a 3D model of a residential building </li>
							<li class="hhbottom"> Need a design for a new company logo </li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="cattwork">
					<b class="cattworks">Job Category</b><br>
					<div class="input-container half v2">
						<label for="sv" class="select-block">
							<select name="sv" id="sv">
								<option value="0">Adobe Suite CS6</option>
								<option value="1">Adobe Suite CS7</option>
							</select>
							<!-- SVG ARROW -->
							<svg class="svg-arrow">
								<use xlink:href="#svg-arrow"></use>
							</svg>
							<!-- /SVG ARROW -->
						</label>
					</div>
					<div class="input-container half v2">
						<label for="sv" class="select-block">
							<select name="sv" id="sv">
								<option value="0">Adobe Suite CS6</option>
								<option value="1">Adobe Suite CS7</option>
							</select>
							<!-- SVG ARROW -->
							<svg class="svg-arrow">
								<use xlink:href="#svg-arrow"></use>
							</svg>
							<!-- /SVG ARROW -->
						</label>
					</div>
					
				</div>
				<div class="downloadtheme5">
					<a href="#" class="button mid tertiary half v3">Exit  <i class="fa fa-download"></i></a><br>
					<a href="#" class="button mid secondary wicon half  v3">Next  <i class="fa fa-upload"></i></a><br>
				</div>
				<div class="clearfix"></div>
				
				
				
				
				<div class="workttsr">
					<div class="workttse22">
						<h2 class="workbottom">Description</h2>
						<span> Step 2 of 7 </span>
					</div>
					<div class="workttse222">
						<p class="workttsw"><b>Description<br>
						A good description includes:</b></p>
						
						<ul class="hhbottomg">
							<li class="hhbottom"> What the deliverable is</li>
							<li class="hhbottom"> Type of freelancer you're looking for </li>
							<li class="hhbottom"> Anything unique about the project or team </li>
						</ul>
						<div class="clearfix"></div>
						<div class="dddddddtexy">
							<form>
								<textarea id="textarea" placeholder="Enter text ..."></textarea>
								  <div id="toolbar" style="display: none;">
									<a class="bottomtt" data-wysihtml5-command="bold" title="CTRL+B"><img src="e/1.png"></a>
									<a class="bottomtt" data-wysihtml5-command="italic" title="CTRL+I"><img src="e/2.png"></a></a>
									<a class="bottomtt" data-wysihtml5-command="insertUnorderedList"><img src="e/3.png"></a></a>
									<a class="bottomtt" data-wysihtml5-command="insertOrderedList"><img src="e/4.png"></a></a>
									<a class="bottomtt" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red"><img src="e/5.png"></a></a>
								  </div>
							</form>
							<div id="log" style="display: none;"></div>
						<p class="testhhhh">0/5000 characters (minimum 50)</p>
						</div>
						<div class="clearfix"></div>
						<b> Additional project files </b>
						<div class="hhjjj" >
							<div class="messagefffffff"> drag or  upload project images </div>
						</div>
						<b> You may attach up to 5 files under 100 MB</b>
					</div>
				</div>
				<div class="downloadtheme5">
					<a href="#" class="button mid tertiary half v3">Back  <i class="fa fa-download"></i></a><br>
					<a href="#" class="button mid secondary wicon half  v3">Next  <i class="fa fa-upload"></i></a><br>
				</div>
				<div class="clearfix"></div>
				
				
				<div class="workttsr">
					<div class="workttse22">
						<h2 class="workbottom">Details</h2>
						<span> Step 3 of 7 </span>
					</div>
					<div class="workttse222 v1">
						<p class="workttsw"><b>What type of project do you have?</b></p>
						<div class="middle">
							<label class="workbtr">
							  <input type="radio" name="radio" checked/>
							  <div class="front-end box">
								<span>Front-end</span>
							  </div>
							</label>
							<label class="workbtr">
							  <input type="radio" name="radio"/>
							  <div class="back-end box">
								<span>Back-end</span>
							  </div>
							</label>
							<label class="workbtr">
							  <input type="radio" name="radio"/>
							  <div class="back-end box">
								<span>Back-end</span>
							  </div>
							</label>
						</div>
					</div>
					
					<div class="workttse222 v2">
						<p class="workttsw"><b>What type of project do you have?</b></p>
						<div class="middle">
							<label class="workbtr">
							  <input type="radio" name="radio" checked/>
							  <div class="front-end box v2">
								<span>Front-end</span>
							  </div>
							</label>
							<label class="workbtr">
							  <input type="radio" name="radio"/>
							  <div class="back-end box v2">
								<span>Back-end</span>
							  </div>
							</label>
							<label class="workbtr">
							  <input type="radio" name="radio"/>
							  <div class="back-end box v2">
								<span>Back-end</span>
							  </div>
							</label>
							<label class="workbtr">
							  <input type="radio" name="radio"/>
							  <div class="back-end box v2">
								<span>Back-end</span>
							  </div>
							</label>
						</div>
					</div>
				</div>
				<div class="downloadtheme5">
					<a href="#" class="button mid tertiary half v3">Back  <i class="fa fa-download"></i></a><br>
					<a href="#" class="button mid secondary wicon half  v3">Next  <i class="fa fa-upload"></i></a><br>
				</div>
				
				<div class="clearfix"></div>
				
				
				<div class="workttsr">
					<div class="workttse22">
						<h2 class="workbottom">Expertise</h2>
						<span> Step 4 of 7 </span>
					</div>
					<div class="workttse222">
						<b>What skills and expertise are most important to you?</b>
						<div class="information-layout-item">
							<p class="tags tertiary">
								<a href="#">photoshop</a>
								<a href="#">flat</a>
								<a href="#">icon</a>
								<a href="#">devices</a>
								<a href="#">mobile</a>
								<a href="#">vector</a>
								<a href="#">coffee</a>
								<a href="#">scene</a>
								<a href="#">hero</a>
								<a href="#">image</a>
								<a href="#">maker</a>
								<a href="#">set</a>
								<a href="#">tablet</a>
								<a href="#">laptop</a>
								<a href="#">mockup</a>
							</p>
						</div>
						<div class="input-wrapper">
						<input class="ootouched" placeholder="Type to add a different skill"></div>
					</div>
				</div>
				<div class="downloadtheme5">
					<a href="#" class="button mid tertiary half v3">Back  <i class="fa fa-download"></i></a><br>
					<a href="#" class="button mid secondary wicon half  v3">Next  <i class="fa fa-upload"></i></a><br>
				</div>
				
				
				<div class="clearfix"></div>
				
				
				<div class="workttsr">
					<div class="workttse22">
						<h2 class="workbottom">Visibility</h2>
						<span> Step 5 of 7 </span>
					</div>
					<div class="workttse222">
						<p class="workttsw"><b>Who can see your job?</b></p>
						<div class="middle">
							<label class="workbtr">
							  <input type="radio" name="radio" checked/>
							  <div class="front-end box">
								<span>Anyone</span>
							  </div>
							</label>
							<label class="workbtr">
							  <input type="radio" name="radio"/>
							  <div class="back-end box">
								<span>HOTLancer</span>
							  </div>
							</label>
							<label class="workbtr">
							  <input type="radio" name="radio"/>
							  <div class="back-end box">
								<span>Invite-only</span>
							  </div>
							</label>
						</div>
						
					</div>
					
					<div class="workttse222">
						<p class="workttsw"><b>How many freelancers do you need for this job?</b></p>
						<div class="middle">
							<label class="workbtr">
							  <input type="radio" name="radio" checked/>
							  <div class="front-end box">
								<span>One freelancer</span>
							  </div>
							</label>
							<label class="workbtr">
							  <input type="radio" name="radio"/>
							  <div class="back-end box">
								<span>More than one freelancer</span>
							  </div>
							</label>
						</div>
					</div>
					
				</div>
				<div class="downloadtheme5">
					<a href="#" class="button mid tertiary half v3">Back  <i class="fa fa-download"></i></a><br>
					<a href="#" class="button mid secondary wicon half  v3">Next  <i class="fa fa-upload"></i></a><br>
				</div>
            </div>
			<!-- PACK BOXES -->
			<!-- /PACK BOXES -->

			<div class="clearfix"></div>	
			

			<!-- FORM BOX ITEMS -->
			<!-- /FORM BOX ITEMS -->
        </div>
        <!-- DASHBOARD CONTENT -->
    </div>
    <!-- /DASHBOARD BODY -->

	<div class="shadow-film closed"></div>

<!-- SVG ARROW -->
<svg style="display: none;">	
	<symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
		<path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z"/>
	</symbol>
</svg>
<!-- /SVG ARROW -->

<!-- SVG PLUS -->
<svg style="display: none;">
	<symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect x="5" width="3" height="13"/>
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG PLUS -->

<!-- SVG MINUS -->
<svg style="display: none;">
	<symbol id="svg-minus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG MINUS -->
<script src="e/01.js"></script>
<script src="e/02.js"></script>
<script>
  var editor = new wysihtml5.Editor("textarea", {
    toolbar:      "toolbar",
    stylesheets:  "e/1.css",
    parserRules:  wysihtml5ParserRules
  });
  
  var log = document.getElementById("log");
  
  editor
    .on("load", function() {
      log.innerHTML += "<div>load</div>";
    })
    .on("focus", function() {
      log.innerHTML += "<div>focus</div>";
    })
    .on("blur", function() {
      log.innerHTML += "<div>blur</div>";
    })
    .on("change", function() {
      log.innerHTML += "<div>change</div>";
    })
    .on("paste", function() {
      log.innerHTML += "<div>paste</div>";
    })
    .on("newword:composer", function() {
      log.innerHTML += "<div>newword:composer</div>";
    })
    .on("undo:composer", function() {
      log.innerHTML += "<div>undo:composer</div>";
    })
    .on("redo:composer", function() {
      log.innerHTML += "<div>redo:composer</div>";
    });
</script>
<!-- jQuery -->
<script src="js/vendor/jquery-3.1.0.min.js"></script>

<!-- XM Pie Chart -->
<script src="js/vendor/jquery.xmpiechart.min.js"></script>
<!-- Side Menu -->
<script src="js/side-menu.js"></script>
<!-- Dashboard Header -->
<script src="js/dashboard-header.js"></script>
<script src="js/uploadss.js"></script>
</body>
</html>