/*   search bar header */
	a.interesting-link.header-link-login {
		color: #6f6f6f;
		font-size: 16px;
	}
	header .account-actions .interesting-link {
		margin-right: 18px;
	}
	.menu-bar-search .search-form {
		width: 320px;
		position: absolute;
		top: 34px;
		left: 27%;
		display: block;
	}
	.search-widget-form button.medium{
		width: 15% !important;
	}
.h4, .h5, .h6, h4, h5, h6{
  margin: initial !important;
}
	.product-list.list.full {
    width: 100% !important;
	}
	.account-actions > a.post-a-job-button {
		box-shadow: 0 1px 5px 0 rgba(57,73,76,.35);
		padding: 7px 18px 6px;
		font-size: 13.5px;
		line-height: 19px;
		border-radius: 0px;
		margin-top: -5px;
		letter-spacing: 1.1px;
		background-color: #06b99b;
		border-color: #06b99b;
		transition: all .15s;
	}
	.account-actions > a.post-a-job-button {
		color: #fff;
		text-transform: inherit;
		font-weight: bold;
	}
	.account-actions > a.post-a-job-button:hover {
		color: #000;
		-webkit-box-shadow: 0 2px 10px 1px rgba(57,73,76,0.4), 0 1px 2px rgba(57,73,76,0.25);
		box-shadow: 0 2px 10px 1px rgba(57,73,76,0.4), 0 1px 2px rgba(57,73,76,0.25);
	}
	header .account-actions .interesting-link:hover {
		color: #b6c6ca;
	}
	.main-menu {
		min-height: 51px;
	}
	.menu-bar {
		min-height: 51px;
		position: relative;
	}
	.main-menu .menu-item > a {
		padding: 0px;
		font-size: 0.90em;
		font-weight: 600;
		line-height: 51px;
		text-transform: capitalize;
	}
	.main-menu .menu-item:hover {
		color: #fff;
		background-color: #00d7b3;
	}
	.main-menu .menu-item {
		float: left;
		border-right: 1px solid #ebebeb;
		position: relative;
		width: auto;
		text-align: center !important;
		padding: 0px 16px;
	}
	.home_manu .feature-list {
		width: 100%;
		min-width: 400px;
		display: inline-block;
	}

	.side-menu .dropdown-item{
		padding: 0px !important;
	}


	.feature-list {
		float: left;
		width: 170px;
		margin-right: 30px;
	}
	.home_manu .feature-list li.feature-list-item {
		float: left !important;
		width: 50%;
		text-align: left;
	}
	.main-menu .menu-item:hover > .content-dropdown, .main-menu .menu-item:hover > .dropdown {
		top: 52px;
	}
	.content-dropdown {
		padding: 15px 20px 10px;
	}
/* end  search bar header */

.table td, .table th{
	padding: 5px;
	vertical-align: middle;
    font-size: 15px;
}

.modal-header{
	background: #36BE7F;
    color: #fff;
    padding:5px 10px;
}

.modal-content{
	border:none;
}
.modal-header h4{
	color:#fff;
}
.modal-header .close{color:#fff;opacity:1;text-shadow: none;}

.right-edit-button {
    right: 24px;
    top: 14px;
    color: #00d7b3;
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    -moz-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    -ms-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    padding: 5px 22px;
    font-size: 13px;
    line-height: 2em;
    font-weight: bold;
}
.position-absolute {
    position: absolute;
}
button {
    cursor: pointer;
}

.dropdown-item{
	white-space:initial !important;

}

a:hover {
    color: #0056b3;
    text-decoration: none;
    background: transparent;
}
.dropdown.dark .dropdown-item.active > a {
    color: #fff;
  	background: #2b373a;
}

label.rl-label {
    margin-bottom: 8px;
}

textarea{
	height: 100px;
    width: 100%;
    border: 1px solid #efeaea;
    padding: 5px;
    color: #000;
}

.invalid-feedback{
	display: block;
}


#update_profile input[type="text"], input[type="password"], input[type="number"], textarea {
	background: #fff;
	border:none;
}

#update_profile input[type="email"]{
	border:none;
	background: #fff;
}
#buttoncontrol{
	display: none;
}

.Tags, .skills{
	border: 1px solid #ccc;
	padding: 0px 5px;
	margin: 2px auto;
	display: inline-block;
	border-radius: 6px;
}


p, ul{
	margin: 0px;
}


.price input[type="text"], input[type="password"], input[type="number"] {
    height: 40px;
    padding: 0 15px;
    border: 1px solid #ebebeb;
    line-height: 40px;
    border-radius: 4px;
    margin: auto;
}

td {
	position: relative;
	overflow: hidden;
}

.price_dollar{
	position:absolute;
	top:24px;
	left: 33px;
	font-size: 12px;
}




.outer-ring img{
	border-radius: 50%; width: 45px; height: 45px;
}

.wrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-weight: 700;
    font-size: 13px;
}

.user_image img {
   height: 30px !important;
    border-radius: 50%;
    width: 30px !important;
    border: 1px solid #ccc;
    padding: 1px;
}

.page {
    float: right;
    margin-top: 24px;
    overflow: visible !important;
}
.page-link{
 
    background-color: #535d5f;
    color: #fff;
 
}.pagination.active {
    background-color: #00d7b3 !important;
}

.comment-list .comment-wrap .comment-wrap.comment-reply {
    padding: 0 0 0 20px !important;
}

.comment-reply-form textarea{
	border:1px solid #ccc;
	height: 35px;
	width: 87%;
}

.comment-reply-form button{
	float: right;
}

